<header class="site-header">
  <div class="container">
    <a href="{% if baseUrl %}{{ baseUrl }}{% else %}{% endif %}/" class="site-logo">
      <img src="{% if baseUrl %}{{ baseUrl }}{% else %}{% endif %}/img/mcm.svg" alt="{{ site.title }}">
      <span class="site-logo-text font-serif"><strong>{{ site.title }}</strong></span>
    </a>
    <button class="hamburger-toggle" type="button" aria-label="Menu" aria-expanded="false">
      <span class="material-symbols-outlined">menu</span>
    </button>
    <nav class="site-nav font-sans">
      <a href="{% if baseUrl %}{{ baseUrl }}{% else %}{% endif %}/" class="text-sm uppercase tracking-wide">{{ ui.nav.home }}</a>
      <a href="{% if baseUrl %}{{ baseUrl }}{% else %}{% endif %}/buscar/" class="text-sm uppercase tracking-wide">{{ ui.nav.search }}</a>
      <a href="https://neogranadina.org/projects/zasqua" class="text-sm uppercase tracking-wide">{{ ui.nav.about }}</a>
      <a href="http://localhost:3001/admin" class="text-sm uppercase tracking-wide">{{ ui.nav.catalogacion }}</a>
      <form class="header-search" action="{% if baseUrl %}{{ baseUrl }}{% else %}{% endif %}/buscar/" method="get">
        <input type="search" name="q" placeholder="{{ ui.search.placeholder }}">
        <button type="submit"><span class="material-symbols-outlined">search</span></button>
      </form>
    </nav>
  </div>
</header>
