---
layout: base.njk
title: "About the collection"
permalink: /about/
---

<section class="section about-page">
  <div class="container">
    More information on the MCM collection can be found at YUCoM's <a href="https://museum.eecs.yorku.ca/collections/show/14">website</a>.
    <h3 class="section-title">Browsing Tips</h3>
    <ul>
        <li>- Each page is its own description of an archival record. The colored label underneath the title tells you what level of description it is (file, folder, subseries, series, collection, etc.)</li>
        <li>- Most series and subseries have their own Scope and Content descriptions.</li>
    </ul>
  </div>
</section>