---
layout: base.njk
title: "Buscar"
permalink: /buscar/
---

<div class="container">
  <div id="search-page"
       data-level-labels='{{ ui.levels | dump | safe }}'
       data-facet-labels='{{ ui.facets | dump | safe }}'>
  </div>
</div>

<script src="/js/search.js"></script>
{# <script>
(function() {
  var q = new URLSearchParams(location.search).get('q');
  if (q) navigator.sendBeacon('https://neogranadina-dashboard.neogranadina.workers.dev/api/beacon/search?q=' + encodeURIComponent(q));
})();
</script> #}
