---
layout: base.njk
---

<section class="hero">
  <div class="hero-content">
    {# <img src="/img/zasqua-3-burgundy-sm.svg" alt="" class="hero-logo"> #}
    <h1>
      <span class="site-name font-serif">The {{ site.title }}</span>
    </h1>
    <form class="search-form" action="/buscar/" method="get">
      <input type="search" name="q" class="search-input" placeholder="{{ ui.search.placeholder }}">
      <button type="submit" class="search-button"><span class="material-symbols-outlined">search</span></button>
    </form>
  </div>
</section>

<section class="section intro-section">
  <div class="container">
    <p class="section-intro font-display">This site is a showcase of the archival collections of the York University Computer Museum, specifically its Micro Computing Machines, Inc. collection. To begin, select the museum below.
  </div>
</section>
<section class="section repo-section">
  <h2 class="section-title font-display">Repositories</h2>

  {% set repoOrder = ["yucom"] %}

  {# name repos' images accordingly in img/repo #}
  <div class="repo-grid">
    {% for repo in repositories | sortByOrder(repoOrder) %}
      {% set repoTitle = repo.name %}
      {% set repoImage = "/img/repo/"+repo.code+".jpg" %}
      {% set repoSubtitle = repo.notes %}
      {% set repoCategory = "" %}
      {% set repoLink = "/" + repo.code + "/" %} 

      <div class="repo-item">
        <a href="{{ repoLink }}" class="repo-link">
          <img src="{{ repoImage }}" alt="{{ repoTitle }}" class="repo-image">
          <div class="repo-caption">
            <h3 class="repo-caption-title">{{ repoTitle }}</h3>
            {% if repoCategory %}<p class="repo-caption-category">{{ repoCategory }}</p>{% endif %}
          </div>
          <div class="repo-overlay">
            <div class="repo-info">
              <h3 class="repo-title">{{ repoTitle }}</h3>
              {% if repoSubtitle %}<p class="repo-subtitle">{{ repoSubtitle }}</p>{% endif %}
              <p class="repo-subtitle">{{ (repo.description_count or 0) | numberFormat }} {{ ui.repository.itemsCount }}</p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</section>
